
{include file="top.tpl"}

<div class="page_box">
	{if isset($slider)}
		<div id="slider" class="carousel slide hidden-xs" data-ride="carousel">
			<div class="carousel-inner" role="listbox">
				{foreach from=$slider item=item key=key name=slider}
					<div class="item {if $smarty.foreach.slider.iteration==1}active{/if}">
						{$item}
					</div>
				{/foreach}
			</div>
			{if $slider|@count>1}
				<a class="left carousel-control" href="#slider" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#slider" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			{/if}
		</div>
	{/if}

	{include file="search_main.tpl"}
	
	{if $settings.ads_1}<div class="ads">{$settings.ads_1}</div>{/if}
	
	{if isset($offers)}
		<div class="container">
			{foreach from=$offers item=item key=key name=offers}
				{if $smarty.foreach.offers.index%3 == 0} 
					<div class="row">
				{/if}
				<div class="col-md-4 text-center">
					<div class="offers_index overflow_hidden {if $item.promoted}offers_index_promoted{/if}">
						<a href="{$item.id},{$item.name_url}" title="{$item.name}"><img src="{if $item.thumb}upload/photos/{$item.thumb}{else}{$settings.base_url}/views/{$settings.template}/images/no_image.png{/if}" alt="{$item.name}" onerror="this.src='{$settings.base_url}/views/{$settings.template}/images/no_image.png'"></a>
						<h4><a href="{$item.id},{$item.name_url}" title="{$item.name}">{$item.name}</a></h4>
						<p>
							{if !empty($item.category)}<a href="{$links.offers}?search=&category%5B%5D={$item.category.name_url}" title="{'Category'|lang}: {$item.category.name}" class="text-info">{$item.category.name}</a>{/if}
							{if !empty($item.category) && !empty($item.state)} | {/if}
							{if !empty($item.state)}<a href="{$links.offers}?search=&state%5B%5D={$item.state.name_url}" title="{'State'|lang}: {$item.state.name}" class="text-info">{$item.state.name}</a>{/if}
						</p>
						<p class="text-muted">{$item.description|strip_tags|truncate:150}</p>
					</div>
				</div>
				{if $smarty.foreach.offers.index%3 == 2} 
					</div>
				{/if}
			{/foreach}
			{if count($offers)%3 != 0}</div>{/if}
			<br><br>
			<div class="text-center">	
				<a href="{$links.offers}" title="{'Search the best accommodation'|lang}" class="btn btn-success">{'See all offers'|lang}</a>
			</div>
		</div>
	{/if}
	
	{if $settings.ads_2}<div class="ads">{$settings.ads_2}</div>{/if}
	
	{if $index_page.text_1}
		<div id="index_text_1">
			<div class="site_text">
				{$index_page.text_1}
			</div>
		</div>
	{/if}
	
	{if $settings.ads_3}<div class="ads">{$settings.ads_3}</div>{/if}
	
	{if isset($articles)}
		<div class="container">
			<br><br><h3 class="text-center">{'Recent articles'|lang}</h3>
			<br><br>
			{include file="articles.tpl"}
		</div>
	{/if}
</div>

{include file="footer.tpl"}