.required{
	color: red;
}
.carousel-control {
    width: 5%;
}
.page_box{
	padding-top: 60px; padding-bottom: 50px;
}
.page_box_inside{
	max-width: 1200px; margin: auto; background-color: white; padding: 20px;
}
.background_grey{
	background-color: #f6f6f4;
}
.social_block{
	padding: 7px; 
}
.social_inline_block{
	display: inline-block; vertical-align: top; padding: 7px; 
}
#google_maps{
	height: 400px
}
.google_maps_p{
	margin-bottom:0;
}
.google_maps_img{
	height: 100px; margin-top: 5px;
}
.table tr:first-child td {
    border-top: none;
}
.ads{
	margin: 20px auto; text-align: center;
}
.ads *{
	max-width: 100%;
}
.carousel img {
    min-width: 100%;
}
.site_text{
	max-width: 1000px; margin: auto;
}
.site_text *{
	max-width: 100%;
}
.overflow_auto{
	overflow: auto; position: relative;
}
.overflow_hidden{
	overflow: hidden;
}
#rodo-message .btn{
	white-space: normal;
}
/* top*/
#top{
	background-color: #087dc2; padding: 4px 20px;
}
#top p{
	margin-bottom:0;
}
#top a{
	color: white; font-size: 0.8em;
}
/* menu nav */
#menu_box{
	padding-right: 20px; padding-left: 20px; background-color: white; border-bottom: solid 1px #e8e8e8;
}
#menu_box img{
	max-height: 40px; margin-top:-10px;
}
#menu_box li.menu_link a, #menu_box li.menu_link.active a:hover{
	color: #1f1f1f;
}
#menu_box li.menu_link a:hover{
	color: #087dc2; background-color: transparent; 
}
#menu_box li.menu_link.active a{
	background-color: #fade03; padding: 7px; margin: 8px; border-radius: 5px;
}
/* registration, log in and reset password */
#registration_box{
	margin: 50px auto; float: none; background-color: #ecf0f1; border: solid 1px #b5d4dc;
}
#registration_box form{
	padding: 15px;
}
/* add and edit offer */
#box_add_offer hr{
	margin-top: 40px; margin-bottom: 40px;
}
#preview_load{
	padding: 45px;
}
#preview_photos{
	padding: 10px 20px;
}
#preview_photos .img-thumbnail{
	margin: 7px;
}
#preview_photos img{
	max-height: 150px;
}
#add_offer_price_list{
	padding: 15px 0;
} 
#add_offer_price_list table td:nth-child(2), #add_offer_price_list table td:nth-child(3){
	width: 150px;
}
#photos_info{
	margin-top: 20px;
}
/* main page - index */
#slider{
	margin-top:-50px;
}
#slider p{
	margin: 0;
}
#slider .carousel-caption {
	bottom: 140px;
}
#search_box{
	max-width: 1200px; margin: 20px auto 30px; background-color: rgba(255,255,255,0.8); z-index: 100; position: relative; border: solid 1px white; border-radius: 3px;
}
#search_box.search_box_slider{
	margin-top: -150px;
}
.offers_index{
	border: solid 1px #d0d0d0; margin: 10px; transition: all 0.2s;
}
.offers_index:hover{
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.2); 
}
.offers_index img{
	max-width: 100%; max-height: 250px; margin-bottom: 10px;
}
.offers_index p{
	padding: 5px 10px;
}
.offers_index_promoted{
	border-color: #fece26;
}
#index_text_1{
	background-color: #f6f6f6; padding: 50px; margin-top: 50px;
}
/* offers */
.offers{
	background-color: white; padding: 0 15px; margin: 15px 0; transition: all 0.2s; box-shadow: 0 5px 6px -6px rgba(0,0,0,0.2); 
}
.offers:hover{
	box-shadow: 0 10px 6px -6px rgba(0,0,0,0.2); 
}
.offers .row{
	border-bottom: solid 1px #e7e7e7; padding: 20px;
}
.offers .row.promoted{
	border: solid 1px #fece26;
}
.offers img{
	max-width: 100%; max-height: 190px;
}
.offers_price p{
	color: white; margin: 0;
}
.offers_price a{
	color: white;
}
.offers_price_top{
	background-color: #2c3e50;  padding: 5px;
}
.offers_price_bottom{
	background-color: #6dc82b; padding: 5px;
}
#form_search_offers{
	padding: 0 15px;
}
/* offer */
#offer{
	background-color: white; padding-top: 30px;
}
#offer_box_description{
	padding: 0 20px; 
}
#offer .tab-pane{
	padding: 20px 5px;
}
.offer-thumbnail{
	height: 150px; margin: 5px;
}
/* articles */
.articles_list .pull-left{
	width: 150px;
}
.articles_list .media-body{
	padding-top: 2px; padding-left: 10px;
}
/* footer */
#footer_top{
	background-color: #fbfbfb; border-top: solid 1px #e4e8ea;
}
#footer_bottom{
	padding: 20px 20px 10px;  background-color: #087dc2; 
}
#footer_bottom p, #footer_bottom p a{
	color: white;
}
/* back to top */
#back_to_top{
	position: fixed; bottom: 15px; right: 15px; z-index: 100; opacity: 0.5; transition: all 0.5s;
}
#back_to_top:hover{
	opacity: 0.9;
}
#back_to_top.back_to_top_hidden{
	visibility:hidden;  opacity:0;
}
/* side panel facebook */
#facebook2_2{
	right: -300px; z-index: 1000; background-color: #2980b9; width: 300px; padding: 1px; height:354px; position: fixed; top: 88px; border: 1px solid white;
}
#facebook2_2_image{
	position: absolute; top:-1px; left:-40px; width:40px; height: 51px; background-color: #2980b9; border: solid 1px white; border-right: none; border-top-left-radius: 2px; border-bottom-left-radius: 2px; 
}
#facebook2_2_image img{
	position: absolute; top:15px; left: 14px;
}
/* style mobile */
@media(max-width: 768px) { 
	#search_box.search_box_slider{
		margin-top: 0px;
	}
}
